.card {
    width: 500px;
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
}

.card-img {
    width: 100%;
    border-radius: 10px;
    opacity: 80%;
}

.card-text {
    position: absolute;
    bottom: 30px;
    text-align: center;
    color: white;
}

.card-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    margin: 10px;
    background-color: white;
    color: black;
}